<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Strona o mnie w hbs</h1>
  <h1>{{pageTitle}}</h1>
  <h2>{{subTitle}}</h2>
  <h3>{{example}}</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, temporibus fugiat deleniti dolores repellat commodi neque culpa eius molestiae sapiente autem at eligendi nihil error animi veniam magnam quidem nostrum.
</p>
<a href="./">Przejdź do strony głównej</a>
</body>
</html>